<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <ul class="nav nav-tabs">
          <li><a href="//javadev.org/chat/">Chat</a></li>
          <li><a href="{{ site.baseurl }}/job-offer/">Job Offer</a></li>
          <li>
            <a
              href="https://community.oracle.com/community/java/java_development_tools/application_development_in_java/jdeveloper_and_adf/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D"
              rel="nofollow"
              >Community</a
            >
          </li>

          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"
              >Materials<b class="caret"></b
            ></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/overview/">Overview</a></li>
              <li class="divider"></li>
              <li><a href="{{ site.baseurl }}/demo/">Demo</a></li>
              <li class="divider"></li>
              <li><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/official-materials/"
                  >Official Materials</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/materials-for-quick-start/"
                  >For Quick Start</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/youtube-videos/">YouTube Videos</a>
              </li>
              <li class="divider"></li>
              <li><a href="{{ site.baseurl }}/blogs/">Blogs</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a
              href="{{ site.baseurl }}/env/"
              data-toggle="dropdown"
              class="dropdown-toggle"
              >Development<b class="caret"></b
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ site.baseurl }}/env/"
                  >Environment for Development</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/sample-schemas/"
                  >Oracle Sample Schemas</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/src/"
                  >Oracle ADF OpenSource Projects</a
                >
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ site.baseurl }}/oracle-adf-jsf-utils/"
                  >ADF Utils / JSF Utils</a
                >
              </li>
            </ul>
          </li>

          <li>
            <a href="/oracle-adf-developers/">Oracle ADF Developers (for HR)</a>
          </li>
          <li><a href="{{ site.baseurl }}/sitemap/">SITE MAP</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
